@import "tailwindcss";




@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    
  }
}

body {

  background: #F8F5F0;
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  overflow-x: hidden;
}
@theme {
  --color-pink:#FF60E6;
   --color-peach:#F8F5F0;
     --color-torqoise:#42a5f5;
     --color-translucent: rgba(255, 255, 255, 0.15)

}

@utility no-scroll {
  @apply overflow-hidden;
}
#topSection{
  background: url("/backgrounds.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 220px;
  background-position: center;

}
#subTopSection{
  background: url("/newbg.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 330px;
  background-position: center;
max-height: 1500px;
}
#heroSection{
  background: url("/afterhero.png");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 230px;
  background-position: center;
max-height: 1500px;
}



@media (min-width: 442px) {
 #topSection { height: 300px; }  /* tablet */
  #subTopSection {height:400px}
  #heroSection { height:270px }

}
@media (min-width: 563px) {
  #heroSection { height:340px }
}

@media (min-width: 626px) {
 #topSection { height: 340px; }  /* tablet */
  #subTopSection {height:500px}
   #heroSection { height:370px }
}

@media (min-width: 721px) {
 #topSection { height: 340px; }  /* tablet */
  #subTopSection {height:500px}
   #heroSection { height:420px }
}
@media (min-width: 830px) {
 #topSection { height: 470px; }  /* tablet */
  #subTopSection {height:500px}
   #heroSection { height:530px }
}
@media (min-width: 1008px) {
 #topSection { height: 550px; }  /* tablet */
  #subTopSection {height:500px}
}


@media (min-width: 1024px) {
 #topSection { height: 600px; }  /* desktop */
  #subTopSection {height:800px}
   #heroSection { height:600px }
}

@media (min-width: 1100px) {
 #topSection { height: 930px; }  /* desktop */
  #subTopSection {height:930px}
   #heroSection { height:800px }
}
@media (min-width: 1700px) {
 #topSection { height: 1050px }  /* desktop */
   #subTopSection {height:1100px}
    #heroSection { height:980px }

}

#block{
  display: inline-block;
  vertical-align: middle;
}
 input{
 
  flex: 1;
 padding-left: 20px;
 }
 #button{
background: none;
border: none;
background:#FF60E6;
border-radius: 20px;
padding: 5px 20px;
z-index: 1;
position: relative;
margin-left: -70px;
 }

#slong{

  font-weight: bold;
  background: linear-gradient(to right, #42a5f5, #ab47bc, #FF60E6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% auto;
  animation: sweep 6s linear infinite;
}



@keyframes sweep {
  0% { background-position: 200% center; }
  100% { background-position: 0 center; }
}


#color{
animation: breathe 3s ease-in-out infinite;
 transition: 0.3s ease, text 0.3s ease;
}

@keyframes breathe {
0%, 100% {
box-shadow:
0 0 5px #FF60E6,
0 0 10px #FF60E6,
0 0 15px#FF60E6;
transform: scale(1);
}
50% {
box-shadow:
0 0 15px #FF60E6,
0 0 20px #ab47bc,
0 0 60px rgb#42a5f5;
transform: scale(1.01);
}}

